@font-face {
    font-family: 'YardenAlefAlefAlef';
    src: url('../fonts/yarden-regular-alefalefalef.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
a {
    color: inherit;        
    text-decoration: none;
}

body {
    font-family: 'YardenAlefAlefAlef', sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #f0f0f0;
    background-image: url("../addition/bg-general.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
body.open {
    background-image: url("../addition/bg-open.jpg");
    background-color: #e0ffe0;
}

body.busy {
    background-image: url("../addition/bg-lowbuy.jpg");
    background-color: #fff0b3;
}

body.close {
    background-image: url("../addition/bg-close.jpg");
    background-color: #ffcccc;
}
header h1 {
    font-size: 4rem;
    margin: 20px 0;
    text-shadow: 5px 5px 1px rgba(0,0,0,0.7);
}
#status {
    display: inline-block;
    padding: 15px 40px;
    font-size: 3.5em;
    font-weight: bold;
    background: rgba(0, 25, 11, 0.7);
    border-radius: 10px;
    color: limegreen;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 1rem;
}
#status-time {
    font-size: 1.7rem;
}
body.open #status {
    color: limegreen;
    background: rgba(0, 35, 15, 0.7);
}
body.busy #status {
    color: rgb(255, 119, 0);
    background: rgba(28, 0, 0, 0.7);
}
body.close #status {
    color: rgb(187, 187, 187);
    background: rgba(0, 0, 0, 0.7);
}

.wazelink a,
.whatsapplink a,
.phonelink a,
.openlink a {
  display: flex;               
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: min(92vw, 420px);
  padding: 8vw 5vw;        
  border-radius: 5px;     
  box-shadow: 0 8px 20px rgba(0,0,0,.25); 
  transition: transform .15s ease, opacity .15s ease;
  margin: 5vw auto;      
}


.wazelink a{background: #2196F3; }
.whatsapplink a   { background: #25D366; }
.phonelink a      { background: #455A64; } 
.openlink a       { background: #FB8C00; }

.wazelink img,
.whatsapplink img,
.phonelink img,
.openlink img {
  width: 7vw;
  height: 7vw;
  object-fit: contain;
  margin-inline-end: 6vw;
}
.wazelink h2,
.whatsapplink h2,
.phonelink h2,
.openlink h2 {
  margin: 0;
  font-size: 3rem;
  text-decoration: none;       
  color: #fff;                 
  font-weight: 800;
}
/* modal שעות פעילות */
.modal {
  display: none; /* מוסתר בהתחלה */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6); /* שכבת רקע */
}

.modal-content {
  background: #fff;
  color: #000;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  font-family: 'YardenAlefAlefAlef', sans-serif;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content li {
  padding: 5px 0;
  font-size: 1.2rem;
}

.close-btn {
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.betamessage {
    font-size: 1.2rem;
    color: #ad5a5a; 
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.feedback {
  margin: 30px auto;
  text-align: center;
}

.feedback h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.feedback button {
  background: #111;      
  color: #f2f2f2;             
  border: none;                 
  border-radius: 8px;        
  padding: 12px 25px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0,0,0,0.5); 
  transition: all 0.2s ease-in-out;      
}


.feedback button:active {
  transform: translateY(0);      /* חזרה למקום בלחיצה */
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
